## Python Programming
Python programs get structured through indentation, i.e. code blocks are defined by their indentation.

---
## Python Functions

In [ ]:
def add_numbers(x,y):
    return x+y
print (add_numbers(1,2))

In [4]:
def add_numbers(x,y, z=None):
    if (z==None):
        return x+y
    else: 
        return x+y+z
print (add_numbers(1,2))
print (add_numbers(1,2,3))

3
6

## There are four collection data types in the Python programming language:
<li> Python List is a collection which is ordered and changeable. Allows duplicate members.
<li> Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.
<li> Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
<li> Set is a collection which is unordered and unindexed. No duplicate members.

## Python Types and Sequences

In [6]:
type ('This is a string')

str

In [7]:
type (None)

NoneType

In [8]:
type (1)

int

In [9]:
type (1.0)

float

In [10]:
type (add_numbers)

function

In [12]:
x = (1,'a', 2, 'b')
type (x)

tuple

In [32]:
x=[1,'a',2,'b']

In [33]:
type(x)

list

In [34]:
x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [36]:
for item in x:
    print (item)

1
a
2
b
3.3

In [27]:
[1,2]+[3,4]

[1, 2, 3, 4]

In [28]:
[1]*3

[1, 1, 1]

In [29]:
1 in [1,2,3]

True

## Python List Functions and Slicing Lists

In [37]:
x = 'This is a string'
type(x)
print(x[0])
print(x[0:1])
print(x[0:2])

T
T
Th

In [38]:
x[-1]

'g'

In [39]:
x[3:]

's is a string'

In [41]:
x = 'This is a string'
x[5:7]

'is'

In [47]:
y = x.split(' ')

In [50]:
type (y)
print(y)
print(y[0])

['This', 'is', 'a', 'string']
This

In [56]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print(fruits)

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [57]:
fruits.count('apple')

2

In [58]:
fruits.sort()
print(fruits)

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

## Using Lists as Stacks

In [75]:
stack = [3, 4, 5]

In [76]:
stack.append(6)
stack

[3, 4, 5, 6]

In [77]:
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [78]:
stack.pop()
stack

[3, 4, 5, 6]

In [79]:
stack.pop()
stack

[3, 4, 5]

In [80]:
stack.pop()
stack

[3, 4]

## Dictionary 
Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; strings and numbers can always be keys. 
<li> Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

In [17]:
tel = {
    'jack': 4098, 
    'sape': 4139}

In [18]:
tel['guido'] = 4127

In [19]:
print(tel)

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [26]:
for x in tel:
    print(x, tel[x])

jack 4098
sape 4139
guido 4127

In [84]:
tel['jack']

4098

In [27]:
for x in tel.values():
    print(x)

4098
4139
4127

In [29]:
for x, y in tel.items():
    print(x,y)

jack 4098
sape 4139
guido 4127

In [30]:
print(len(tel))

3

In [85]:
del tel['sape']

In [86]:
tel

{'guido': 4127, 'jack': 4098}

In [87]:
tel['irv'] = 4127

In [88]:
tel

{'guido': 4127, 'irv': 4127, 'jack': 4098}

In [89]:
list(tel.keys())

['irv', 'guido', 'jack']

In [90]:
sorted(tel.keys())

['guido', 'irv', 'jack']

In [91]:
'jack' in tel

True

In [92]:
'jack' not in tel

False

In [93]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [94]:
dict(sape=4139, guido=4127, jack=4098)

{'guido': 4127, 'jack': 4098, 'sape': 4139}

In [100]:
x = {'matthew.angotti@my.utsa.edu':'149.165.168.166', 
     'sujan.bhattarai@my.utsa.edu':'149.165.157.156',
     'bendre.nihar@gmail.com':'149.165.169.61'}

In [102]:
x['matthew.angotti@my.utsa.edu']

'149.165.168.166'

In [109]:
for ip in x:
    print (ip, x[ip])

sujan.bhattarai@my.utsa.edu 149.165.157.156
matthew.angotti@my.utsa.edu 149.165.168.166
bendre.nihar@gmail.com 149.165.169.61

## Tuples and Sequences
Though tuples may seem similar to lists, they are often used in different situations and for different purposes. Tuples are immutable, and usually contain a heterogeneous sequence of elements

<li> Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

In [1]:
t = 12345, 54321, 'hello!'

In [2]:
print(type(t))
t

<class 'tuple'>

(12345, 54321, 'hello!')

In [3]:
# Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [4]:
# Tuples are immutable:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

## Sets
Python also includes a data type for sets. A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.
<li> Set is a collection which is unordered and unindexed. No duplicate members.

In [6]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [7]:
print(basket)

{'apple', 'orange', 'pear', 'banana'}

In [14]:
basket

{'apple', 'banana', 'orange', 'pear'}

In [8]:
for x in basket:
    print(x)

apple
orange
pear
banana

In [15]:
'orange' in basket

True

In [16]:
a = set('abracadabra')

In [17]:
a

{'a', 'b', 'c', 'd', 'r'}

In [9]:
basket.add('pear')

In [10]:
print(basket)

{'apple', 'orange', 'pear', 'banana'}

In [11]:
len(basket)

4

In [12]:
basket.pop()

'apple'

In [13]:
print(basket)

{'orange', 'pear', 'banana'}

In [14]:
basket.pop()

'orange'

In [15]:
basket.pop()

'pear'

In [16]:
basket.pop()

'banana'